<div class="container-fluid">

    <h3>All Visits</h3>
    <br>
    <p>{{status}}</p>

    <hr>

    <table>
        <thead>
        <tr>
            <th style="padding:5px 5px;">Visit Id</th>
            <th style="padding:5px 5px;">Location Id</th>
            <th style="padding:5px 5px;">Date</th>
            <th style="padding:5px 5px;">Round</th>
            <th style="padding:5px 5px;">Field Worker</th>
        </tr>
        </thead>

        <tbody ng:repeat="visit in allVisits.visits">
        <tr>
            <td style="padding:5px 5px;">{{visit.extId}}</td>
            <td style="padding:5px 5px;">{{visit.visitLocation.extId}}</td>
            <td style="padding:5px 5px;">{{visit.visitDate | date : medium}}</td>
            <td style="padding:5px 5px;">{{visit.roundNumber}}</td>
            <td style="padding:5px 5px;">{{visit.collectedBy.extId}}</td>
        </tr>
        </tbody>
    </table>

    <hr>

    <button class="btn btn-default btn-inverse" ng-click="newVisit()">New Visit</button>

</div>